<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" allow-return-values="true">
    <test verbose="2" name="D:/IDEA/SeleniumDemo3">
        <classes>
            <class name="com.selenium.flx.flx">
                <!--flx测试-->
                <methods>
                    <include name="flx"/>
                    <include name="login"/>
                    <!--系统管理-->
                    <include name="userManage"/>
                    <include name="menuManage"/>
                    <include name="authorizationManage"/>
                    <include name="roleManage"/>
                    <include name="parameterManage"/>
                    <include name="appFunctionManage"/>
                    <include name="organizationManage"/>
                    <include name="interfacesPowerManage"/>
                    <include name="customerIPSettings"/>
                    <include name="thirdPartyAccountManage"/>
                    <include name="installSafeStrategy"/>
                    <include name="disposeTransactionDictionary"/>
                    <include name="queryShopScore"/>
                    <include name="queryShopScoreAlter"/>
                    <include name="userLoginLog"/>
                    <include name="userOperateLog"/>
                    <!--客户管理-->
                    <include name="cusProfileAlterManager"/>
                    <include name="cooperationManager"/>
                    <include name="cooperationCustomRelation"/>
                    <!--销售管理-->
                    <include name="bankCardCountList"/>
                    <include name="prepaidCardCountList"/>
                    <!--运营管理-->
                    <include name="custom_power"/>
                    <include name="agentList"/>
                    <!--财务管理-->
                    <include name="rechargeQueryList"/>
                    <include name="scoretobankQueryList"/>
                    <include name="scoretocredit"/>
                    <include name="repayment"/>
                    <include name="queryRepaymentAll"/>
                    <include name="errorRepayment"/>
                    <include name="creditQueryList"/>
                    <include name="importPaymentResult"/>
                    <include name="paymentFileList"/>
                    <include name="handleAcceptQueryList"/>
                    <include name="specialAccountChangeInputList"/>
                    <include name="orderQueryList"/>
                    <include name="orderCredentialHandList"/>
                    <include name="queryReportDailyOrderTbl"/>
                    <include name="queryReportSpend"/>
                    <include name="queryCounterFee"/>
                    <include name="queryCertificateReport"/>
                    <include name="reportlogMangaer"/>
                    <include name="queryAccountReport"/>
                    <include name="queryPointsSummary"/>
                    <include name="queryEnterSummary"/>
                    <!--客服明细-->
                    <include name="queryPrepaidCardInfo"/>
                    <!--绩效管理-->
                    <include name="validCustomer"/>
                    <include name="platformCustomer"/>
                    <include name="terminalCustomer"/>
                    <include name="queryTotalCustomer"/>
                    <include name="agentInfo"/>
                </methods>

                <!--flx开户充值流程测试-->
                <!--<methods>-->
                    <!--<include name="flx"/>-->
                    <!--<include name="login"/>-->
                    <!--<include name="normalOpenCustom"/>-->
                    <!--<include name="auditCustom"/>-->
                    <!--<include name="entryOrder"/>-->
                    <!--<include name="checkOrder"/>-->
                    <!--<include name="firstLoginFuYou"/>-->
                    <!--<include name="againLoginFuYou"/>-->
                    <!--<include name="handleOrder"/>-->
                    <!--<include name="activateOrder"/>-->
                    <!--<include name="queryDetail"/>-->
                    <!--特殊开户-->
                    <!--<include name="specialOpenCustom_1"/>-->
                <!--</methods>-->
            </class>
            <!--<class name="com.selenium.fuyou.fuYou">-->
            <!--</class>-->
        </classes>
    </test>
</suite>